resources/SN1_chain.tsv filter=lfs diff=lfs merge=lfs -text
resources/SN2_chain.tsv filter=lfs diff=lfs merge=lfs -text
resources/SN3_chain.tsv filter=lfs diff=lfs merge=lfs -text
resources/SN4_chain.tsv filter=lfs diff=lfs merge=lfs -text
resources/SN5_chain.tsv filter=lfs diff=lfs merge=lfs -text
resources/SN6_chain.tsv filter=lfs diff=lfs merge=lfs -text
resources/burnin filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN6_samples.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN1_lnprob.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN2_lnprob.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN3_samples.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN4_samples.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN5_lnprob.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN5_samples.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN1_samples.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN2_samples.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN3_lnprob.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN4_lnprob.npy filter=lfs diff=lfs merge=lfs -text
resources/burnin/SN6_lnprob.npy filter=lfs diff=lfs merge=lfs -text
figures/2017-09-11-burnin0.pdf filter=lfs diff=lfs merge=lfs -text
figures/2017-09-11-burnin100.pdf filter=lfs diff=lfs merge=lfs -text
figures/2017-09-11-burnin600.pdf filter=lfs diff=lfs merge=lfs -text
figures/add_neb_emission.pdf filter=lfs diff=lfs merge=lfs -text
figures/add_neb_emission_0.05Gyr.pdf filter=lfs diff=lfs merge=lfs -text
figures/ageCalibration_temp.pdf filter=lfs diff=lfs merge=lfs -text
figures/oldVSyoung.pdf filter=lfs diff=lfs merge=lfs -text
figures/oldVSyoung_withNebEmission.pdf filter=lfs diff=lfs merge=lfs -text
figures/circleTests/C4-truths.pdf filter=lfs diff=lfs merge=lfs -text
figures/circleTests/C5-truths.pdf filter=lfs diff=lfs merge=lfs -text
figures/circleTests/C6-truths.pdf filter=lfs diff=lfs merge=lfs -text
figures/circleTests/C1-truths.pdf filter=lfs diff=lfs merge=lfs -text
figures/circleTests/C2-truths.pdf filter=lfs diff=lfs merge=lfs -text
figures/circleTests/C3-truths.pdf filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
