# General

*.pyc
*.tar.gz
.DS_Store
*.sublime-workspace
.cache/
.ipynb_checkpoints/
*.log
*.npy     # numpy saved variables. 
.coverage


# Specific

## these are raw files that might be used later in the project
data/notUsedYet/
## ugriz photometry images of field containing hosts
data/SDSS\ -\ coadded/
## spectra of hosts (global?) from ???
data/SDSS\ -\ spectra/
## results of Holtzman 2008
data/SMP-photometry/

## too large of files (over 100 MB)
resources/long-CRC-run/*
resources/SN10028_chain-2017-04-19.tsv

## Don't save figures
*.pdf
*.png

## this is for mcmc chains before the age is calculated, they are redundant
resources/temp/*
## This folder is 10GB
resources/global/*
