# General

*.pyc
*.tar.gz
.DS_Store
*.sublime-workspace
.cache/
.ipynb_checkpoints/
.coverage

# Documentation
docs/_build/*


# Specific

## these are raw files that might be used later in the project
data/notUsedYet/
## ugriz photometry images of field containing hosts
data/SDSS\ -\ coadded/
## spectra of hosts (global?) from ???
data/SDSS\ -\ spectra/
## results of Holtzman 2008
data/SMP-photometry/
## out of data raw data storage method. Kept in local directory for referance for when part of the code breaks when it was not updated to the new organizational sysetm
data/oldruns/
## dust maps. This should be create at instalation and not version controled.
sfddata-master/*


# Should be in git-lfs but they are too big for free storage on Github

## analysis outputs
crc-scripts/*.o*
logs/*

## resulting data files
resources/*.tsv
resources/*/*.tsv
resources/burnin/*
*.npy

## figures
*.pdf
*.png
data/CampbellHoltzman-afterAASShort\.tsv
