# General

*.pyc
*.tar.gz
.DS_Store
*.sublime-workspace
.cache/
.ipynb_checkpoints/
.coverage

# Specific

## these are raw files that might be used later in the project
data/notUsedYet/
## ugriz photometry images of field containing hosts
data/SDSS\ -\ coadded/
## spectra of hosts (global?) from ???
data/SDSS\ -\ spectra/
## results of Holtzman 2008
data/SMP-photometry/

# Should be in git-lfs but they are too big for free storage on Github

## analysis outputs
crc-scripts/*.o*
logs/*

## resulting data files
resources/*.tsv
resources/burnin/*

## figures
*.pdf
*.png